extends ../layout

block content

  .container
    a.btn-volver(href="/empleados") Volver

    .card-detalle
      h1= `${empleado.nombre} ${empleado.apellido}`
      
      .info-grid
        .info-item
          .info-label Documento (DNI)
          .info-valor= empleado.dni
        
        .info-item
          .info-label Puesto / Cargo
          .info-valor= empleado.puesto
          
        .info-item
          .info-label Correo Electrónico
          .info-valor= empleado.email
          
        .info-item
          .info-label Empresa Vinculada (ID)
          .info-valor= empleado.empresaId && empleado.empresaId.nombre ? empleado.empresaId.nombre : empleado.empresaId
          
        .info-item
          .info-label Estado del Empleado
          .info-valor
            if empleado.activo
              span.badge-activo  Activo
            else
              span.badge-inactivo  Inactivo
