extends ../layout

block content
  .container-form
    a.btn-volver(href="/usuarios") Cancelar y volver
    .card-form
      h1= usuarioData ? 'Editar Usuario' : 'Registrar Nuevo Usuario'
 
        //- Si hay usuarioData la acción va a editar, sino a crear uno nuevo
      form(action=usuarioData ? `/usuarios/form/${usuarioData.id}` : "/usuarios/form" method="POST")  
        .form-group 
          label(for="usuario") Nombre de Usuario
          input#usuario.form-control(type="text" name="usuario" autocomplete="off" required value=usuarioData ? usuarioData.usuario : '' placeholder="ej: jgomez")

        .form-group
          label.form-label(for="password") Contraseña
          input#password.form-control(type="password" name="password" required=!usuarioData placeholder=usuarioData ? "Dejar en blanco para no modificar" : "********")
        

        .form-group
          label.form-label(for="rol") Rol del Sistema
          select#rol.form-control(name="rol" required)
            option(value="" disabled=!usuarioData selected=!usuarioData) Seleccione un rol...
            option(value="cliente" selected=usuarioData && usuarioData.rol === 'cliente') Cliente
            option(value="admin" selected=usuarioData && usuarioData.rol === 'admin') Administrador
            option(value="liquidador" selected=usuarioData && usuarioData.rol === 'liquidador') Liquidador


        .form-group
          label.form-label(for="empresa") Empresa (Filtro)
          select#empresa.form-control(name="empresaId" required)
            option(value="" disabled=!usuarioData selected=!usuarioData) Seleccione la empresa
            each empresa in empresas
              option(value=empresa.id selected=usuarioData && String(usuarioData.empresaId) === String(empresa.id))= empresa.nombre

        
        button.btn-guardar(type="submit")= usuarioData ? 'Guardar Cambios' : 'Registrar Usuario'
