extends ../layout

block content

  .container
    .header-flex
      div
        h1= titulo || 'Listado de Liquidaciones'
        p Historial de haberes liquidados en el sistema.
      div
        a.btn-nuevo(href="/liquidaciones/form") Nueva Liquidación


    table.data-table
      thead
        tr
          th Empleado
          th Empresa
          th Período
          th Total Neto
          th Estado
          th Acciones

      tbody
        each liq in liquidaciones
          tr
            td= liq.empleadoId ? `${liq.empleadoId.nombre} ${liq.empleadoId.apellido}` : 'N/A'
            td= liq.empresaId ? liq.empresaId.nombre : 'N/A'
            td= liq.periodo
            td $ #{liq.totalNeto}
            td
              if liq.activa
                span.badge-activo Activa
              else
                span.badge-inactivo Inactiva
            td
              a.btn-accion(href=`/liquidaciones/${liq._id}`) Ver Detalle